/* CSS files add styling rules to your content */

* {
    font-family: 'Roboto', sans-serif;
}

body {
  margin: 2em;
  /*  change background color  */
  background-color:antiquewhite;
  color: black;
}

/* Align Text to center of screen */
h1 {
  text-align: center;
}

/* Align Text to center of screen  */
p {
    text-align: center;
}

/*Hides the stop button */
.hidden {
  display: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: auto 0;
}

/* Change game button size */
#gameButtonArea > button {
  width: 300px;
  height: 300px;
  margin: 0 auto;;
}

/* Move buttons down 20px and center*/
#gameButtonArea {
  padding-top: 20px;
  display:flex;
  justify-content: center;
}

#gameCtrl {
  display:flex;
  justify-content: center;
}

/* Color the Buttons */
#button1:active {
  background:lightgreen;
}

#button1:active, #button1.lit {
  background:green;
}

#button2:active {
  background:lightblue;
}

#button2:active, #button1.lit {
  background:blue;
}

#button3:active {
  background:lightred;
}

#button3:active, #button1.lit {
  background:red;
}

#button4:active {
  background:lightyellow;
}

#button4:active, #button1.lit {
  background:yellow;
}

