/* CSS files add styling rules to your content */

* {
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

body {
  margin: 2em;
  /*  change background color  */
  background-color: antiquewhite;
  color: black;
}

/* Align Text to center of screen */
h1 {
  text-align: center;
  font-size: 40px;
}

/* Align Text to center of screen  */
p {
  text-align: center;
  font-size: 20px;
}

/*Hides the stop button */
.hidden {
  display: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: auto 0;
  border: 2.5px solid;
  cursor: pointer;
}

/* Change game button size */
#gameButtonArea > button {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 2em;
}

/* Move buttons down 20px and center*/
#gameButtonArea {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#gameCtrl {
  display: flex;
  justify-content: center;
}

#startBtn:hover {
  transform: translateY(-0.25em);
}

#stopBtn:hover {
  transform: translateY(-0.25em);
}

/* Add Padding to Game Control Button  */
#gameCtrl,
#startBtn,
#stopBtn {
  padding: 13px;
}

/* Color the Buttons */
#button1 {
  background: lightgreen;
}

#button1:active,
#button1.lit {
  background: green;
}

#button1:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

#button2 {
  background: lightblue;
}

#button2:active,
#button2.lit {
  background: blue;
}

#button2:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

#button3 {
  background: lightcoral;
}

#button3:active,
#button3.lit {
  background: red;
}

#button3:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

#button4 {
  background: lightyellow;
}

#button4:active,
#button4.lit {
  background: yellow;
}

#button4:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

/* New Buttons */
#button5 {
  background: lightcyan;
}

#button5:active,
#button5.lit {
  background: cyan;
}

#button5:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

#button6 {
  background: lightgrey;
}

#button6:active,
#button6.lit {
  background: grey;
}

#button6:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

#button7 {
  background: lightpink;
}

#button7:active,
#button7.lit {
  background: #D782BA;
}

#button7:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}

#button8 {
  background: lightsalmon;
}

#button8:active,
#button8.lit {
  background: salmon;
}

#button8:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em black;
}
